In [18]:
import pandas as pd
import numpy as np
NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import plotly.express as px
pd.set_option('max_colwidth', None)
import nest_asyncio
nest_asyncio.apply()

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the PyObis biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobis' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

Load different types of DWC files:

In [20]:
occurrence_core =      pd.read_csv('https://catalogue.ogsl.ca/data/ncc/ca-cioos_b52bb8be-d225-442c-94ab-6f107a64b8a6/saint_john_river_saltmarshes_species-occurrence_2021.csv')
occurrence_extension = pd.read_csv('https://catalogue.ogsl.ca/data/ismer/ca-cioos_0edfc94f-06d0-4823-84ef-df91e6c11fe6/ismer_occurrence_endofaune_cote-nord_2009.csv')
occurrence_extension.head(3)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation

Try the check_scientificname_and_ids function:

In [21]:
check_scientificname_and_ids(occurrence_core, 'names').head()

c:\Users\simon\anaconda3\envs\env\lib\typing.py:620: RuntimeWarning: coroutine 'check_scientificname_and_ids.<locals>.main' was never awaited
  a for a in params)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

9 : 204: Worms Harmonia axyridis
4 : 204: Worms Convallaria majalis
10 : 200: Worms Raphanus raphanistrum
20 : 204: Worms Persicaria amphibia
5 : 204: Worms Halerpestes cymbalaria
12 : 204: Worms Acorus americanus
17 : 204: Worms Arisaema triphyllum
2 : 200: Worms Typha latifolia
11 : 204: Worms Lycopus uniflorus
19 : 200: Worms Elymus virginicus
26 : 200: Worms Salix
21 : 200: Worms Doellingeria umbellata
15 : 204: Worms Betula papyrifera
22 : 204: Worms Argentina anserina
18 : 200: Worms Osmunda spectabilis
8 : 200: Worms Plantago
31 : 200: Worms Lonicera
16 : 200: Worms Sagittaria latifolia
14 : 204: Worms Linaria vulgaris
40 : 200: Worms Galium mollugo
24 : 200: Worms Cirsium
28 : 204: Worms Scutellaria galericulata
23 : 204: Worms Scutellaria lateriflora
32 : 204: Worms Impatiens capensis
41 : 200: Worms Bryophyta
30 : 204: Worms Chelone glabra
38 : 204: Worms Phalaris arundinacea
25 : 204: Worms Acer rubrum
13 : 200: Worms Xanthium strumarium
33 : 200: Worms Rosa
29 : 200: Worms Poaceae
55 : 200: Worms Spergularia marina
34 : 200: Worms Onoclea sensibilis
42 : 200: Worms Ruppia maritima
65 : 204: Worms Prunella vulgaris
63 : 200: Worms Ranunculus repens
58 : 204: Worms Lysimachia ciliata
44 : 200: Worms Cirsium arvense
49 : 204: Worms Frangula alnus
69 : 204: Worms Quercus rubra
68 : 204: Worms Pastinaca sativa
27 : 200: Worms Jacobaea vulgaris
39 : 200: Worms Lythrum salicaria
37 : 200: Worms Calidris minutilla
45 : 204: Worms Iris versicolor
48 : 200: Worms Polistes fuscatus
66 : 200: Worms Osmunda claytoniana
43 : 204: Worms Cornus rugosa
90 : 204: Worms Dasiphora fruticosa
36 : 200: Worms Sonchus arvensis
71 : 204: Worms Alnus alnobetula
57 : 204: Worms Calystegia sepium
98 : 204: Worms Scirpus microcarpus
64 : 200: Worms Nuphar
59 : 204: Worms Apocynum cannabinum
75 : 204: Worms Hypericum perforatum
80 : 200: Worms Eutrochium maculatum
61 : 200: Worms Megaceryle alcyon
47 : 204: Worms Thuja occidentalis
84 : 204: Worms Alnus incana
76 : 200: Worms Glyceria
51 : 204: Worms Mentha canadensis
50 : 200: Worms Typha
70 : 204: Worms Cornus sericea
82 : 204: Worms Ilex verticillata
62 : 204: Worms Matteuccia struthiopteris
97 : 204: Worms Myrica gale
141 : 204: Worms Oxybasis rubra
118 : 200: Worms Juncus
52 : 200: Worms Bidens
74 : 200: Worms Ulva intestinalis
123 : 204: Worms Thalictrum pubescens
46 : 200: Worms Stuckenia pectinata
79 : 200: Worms Cichorium intybus
72 : 200: Worms Schoenoplectus tabernaemontani
54 : 200: Worms Symphyotrichum
100 : 204: Worms Persicaria sagittata
93 : 200: Worms Larus argentatus
96 : 204: Worms Fraxinus pennsylvanica
138 : 204: Worms Viburnum opulus
143 : 200: Worms Plantago major
88 : 200: Worms Anthoxanthum odoratum
104 : 204: Worms Schoenoplectus pungens
121 : 200: Worms Schoenoplectus
108 : 204: Worms Juncus gerardi
140 : 204: Worms Sorbus
94 : 200: Worms Asteraceae
92 : 204: Worms Spiraea alba
132 : 204: Worms Lysimachia maritima
110 : 204: Worms Echinocystis lobata
128 : 204: Worms Iris hookeri
126 : 204: Worms Persicaria maculosa
86 : 204: Worms Athyrium angustum
105 : 204: Worms Lysimachia terrestris
78 : 200: Worms Tracheophyta
89 : 200: Worms Eleocharis palustris
103 : 200: Worms Oenothera
142 : 200: Worms Vicia
115 : 204: Worms Hylotelephium telephium
85 : 200: Worms Castor canadensis
107 : 200: Worms Galium
113 : 204: Worms Thelypteris palustris
139 : 204: Worms Hypericum mutilum
137 : 200: Worms Cichorieae
112 : 204: Worms Fraxinus
134 : 204: Worms Reynoutria japonica
109 : 200: Worms Agrostis gigantea
81 : 200: Worms Elodea canadensis
95 : 200: Worms Liliopsida
120 : 200: Worms Tanacetum
117 : 200: Worms Rumex
144 : 204: Worms Alisma triviale
127 : 204: Worms Sporobolus michauxianus
111 : 200: Worms Rosaceae
136 : 200: Worms Scirpus
130 : 204: Worms Stachys palustris
91 : 200: Worms Senecio
119 : 204: Worms Sium suave
124 : 200: Worms Eleocharis uniglumis
131 : 204: Worms Carex pallescens
73 : 200: Worms Myriophyllum spicatum
122 : 200: Worms Carex
133 : 200: Worms Zizania
53 : 200: Worms Cyperaceae
77 : 200: Worms Leucanthemum vulgare
83 : 200: Worms Centaurea jacea
101 : 200: Worms Vicia cracca
116 : 200: Worms Euthamia
35 : 204: Worms Crataegus
129 : 204: Worms Rhagonycha fulva
125 : 200: Worms Tussilago farfara
102 : 204: Worms Amphicarpaea bracteata
60 : 204: Worms Berberis thunbergii
135 : 200: Worms Persicaria
0 : 204: Worms Hylaeus
67 : 204: Worms Stellaria graminea
56 : 204: Worms Solanum dulcamara
99 : 200: Worms Rubus
114 : 200: Worms Tanacetum vulgare
87 : 200: Worms Centaurea nigra
106 : 204: Worms Euphorbia maculata
6 : 200: Worms Senecio viscosus
1 : 204: Worms Epalpus signifer
7 : 200: Worms Erechtites hieraciifolius
3 : 200: Worms Chenopodium album

              Dataset Values  Validation Database values         \
              scientificname Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
67          Rhagonycha fulva      Non/no
66          Epalpus signifer      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no


    Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
67
66
110
63

In [22]:
check_scientificname_and_ids(occurrence_extension, 'names').head()

9 : 200: Worms Idotea balthica
14 : 200: Worms Oediceros borealis
15 : 200: Worms Microspio
5 : 200: Worms Littorina saxatilis
3 : 200: Worms Leucon nasicoides
4 : 200: Worms Nephtys ciliata
18 : 200: Worms Hydrobia minuta
8 : 200: Worms Mya arenaria
7 : 200: Worms Oligochaeta
0 : 200: Worms Mesodesma arctatum
17 : 200: Worms Mytilus edulis
2 : 200: Worms Nematoda
11 : 200: Worms Gammarus oceanicus
12 : 200: Worms Macoma balthica
10 : 200: Worms Eteone longa
13 : 200: Worms Psammonyx nobilis
16 : 200: Worms Nereis diversicolor
6 : 200: Worms Littorina obtusata

         Dataset Values  Validation Database values                            \
         scientificname Exact_Match         TaxonID                    Status
2     Leucon nasicoides      Non/no          148682  alternate representation
4     Psammonyx nobilis      Non/no          158140                unaccepted
8   Nereis diversicolor      Non/no          340537                   deleted
11      Hydrobia minuta      Non/no          152020                unaccepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
2                       None    Species        110619
4   superseded recombination    Species       1255501
8       AphiaID resurrection       None        152302
11          preoccupied name    Species        574096
0                       None    Species        156805


                    Valid_Name                                       LSID
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805

In [23]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1.head(3)

2 : 200: Worms Typha latifolia
12 : 204: Worms Acorus americanus
5 : 204: Worms Halerpestes cymbalaria
3 : 200: Worms Chenopodium album
0 : 204: Worms Hylaeus
4 : 204: Worms Convallaria majalis
9 : 204: Worms Harmonia axyridis
14 : 204: Worms Linaria vulgaris
1 : 204: Worms Epalpus signifer
7 : 200: Worms Erechtites hieraciifolius
11 : 204: Worms Lycopus uniflorus
8 : 200: Worms Plantago
6 : 200: Worms Senecio viscosus
18 : 200: Worms Osmunda spectabilis
13 : 200: Worms Xanthium strumarium
24 : 200: Worms Cirsium

           Dataset Values  Validation Database values                        \
           scientificname Exact_Match         TaxonID Status Unacceptreason
0    Phalaris arundinacea      Non/no
103     Ilex verticillata      Non/no
102    Calidris minutilla      Non/no


    Taxon_Rank Valid_TaxonID Valid_Name LSID
0
103
102

In [24]:
table2.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                        Dataset Values  \
  scientificNameID_Validation           ScientificName
0                      Non/No     Phalaris arundinacea
1                      Non/No  Sporobolus michauxianus
2                      Non/No   Schoenoplectus pungens

                                     Database values
                    ScientificNameID      Valid_Name LSID
0   urn:lsid:itis.gov:itis_tsn:41335
1                                NaN
2  urn:lsid:itis.gov:itis_tsn:508146

In [25]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')
table3.head(3)

KeyError: "['Source'] not found in axis"

In [ ]:
table4.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                                             Dataset Values  \
  TaxonRank_Validation scientificNameID_Validation           ScientificName
0               Non/No                      Non/No     Phalaris arundinacea
1               Non/No                      Non/No  Sporobolus michauxianus
2               Non/No                      Non/No   Schoenoplectus pungens

                                               Database values
  TaxonRank                   ScientificNameID      Valid_Name Taxon_Rank LSID
0   species   urn:lsid:itis.gov:itis_tsn:41335
1   species                                NaN
2   species  urn:lsid:itis.gov:itis_tsn:508146

Try the check_scientificname_and_ids function - itis_usage:

In [ ]:
check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()

0 : 200: Worms Spergularia marina
1 : 204: Worms Hypericum mutilum
4 : 200: Worms Ulva intestinalis
2 : 204: Worms Acorus americanus
3 : 200: Worms Tussilago farfara
5 : 204: Worms Persicaria sagittata
6 : 200: Worms Cyperaceae
9 : 204: Worms Epalpus signifer
7 : 204: Worms Juncus gerardi
12 : 200: Worms Osmunda claytoniana
8 : 200: Worms Eleocharis palustris
11 : 204: Worms Mentha canadensis
14 : 204: Worms Thelypteris palustris
13 : 204: Worms Convallaria majalis
10 : 204: Worms Impatiens capensis
15 : 204: Worms Scutellaria galericulata
17 : 204: Worms Stachys palustris
18 : 204: Worms Alnus incana
16 : 204: Worms Pastinaca sativa
20 : 204: Worms Lysimachia terrestris
23 : 204: Worms Scirpus microcarpus
21 : 204: Worms Frangula alnus
25 : 204: Worms Linaria vulgaris
19 : 200: Worms Rosa
22 : 204: Worms Fraxinus
24 : 200: Worms Centaurea jacea
26 : 200: Worms Xanthium strumarium
28 : 200: Worms Carex
27 : 200: Worms Rubus
29 : 204: Worms Phalaris arundinacea
30 : 204: Worms Iris hookeri
31 : 200: Worms Schoenoplectus tabernaemontani
32 : 200: Worms Larus argentatus
35 : 200: Worms Bryophyta
34 : 204: Worms  daisies
37 : 204: Worms Quercus rubra
36 : 204: Worms Spiraea alba
33 : 204: Worms Stellaria graminea
38 : 200: Worms Tanacetum
44 : 200: Worms Galium mollugo
43 : 200: Worms Juncus
41 : 200: Worms Centaurea nigra
40 : 200: Worms Cichorium intybus
45 : 200: Worms Ranunculus repens
46 : 200: Worms Calidris minutilla
39 : 200: Worms Polistes fuscatus
48 : 204: Worms Thalictrum pubescens
42 : 200: Worms Tanacetum vulgare
49 : 204: Worms Hylotelephium telephium
50 : 200: Worms Rumex
47 : 200: Worms Typha latifolia
55 : 200: Worms Elodea canadensis
56 : 204: Worms Acer rubrum
53 : 200: Worms Lythrum salicaria
54 : 204: Worms Calystegia sepium
51 : 200: Worms Euthamia
57 : 204: Worms Amphicarpaea bracteata
58 : 204: Worms Harmonia axyridis
52 : 204: Worms Iris versicolor
65 : 204: Worms Apocynum cannabinum
61 : 200: Worms Jacobaea vulgaris
63 : 200: Worms Erechtites hieraciifolius
60 : 200: Worms Myriophyllum spicatum
64 : 204: Worms Athyrium angustum
59 : 204: Worms Scutellaria lateriflora
62 : 200: Worms Nuphar
67 : 204: Worms Lycopus uniflorus
66 : 200: Worms Raphanus raphanistrum
71 : 200: Worms Zizania
78 : 204: Worms Alnus alnobetula
68 : 204: Worms Lysimachia ciliata
73 : 200: Worms Bidens
77 : 204: Worms Prunella vulgaris
75 : 204: Worms Fraxinus pennsylvanica
74 : 200: Worms Galium
76 : 200: Worms Vicia cracca
69 : 204: Worms Chelone glabra
82 : 204: Worms  smartweeds
70 : 200: Worms Agrostis gigantea
80 : 204: Worms Crataegus
83 : 200: Worms Lonicera
79 : 204: Worms Halerpestes cymbalaria
81 : 200: Worms Cirsium
84 : 200: Worms Salix
85 : 204: Worms Sium suave
91 : 204: Worms Sorbus
87 : 200: Worms Castor canadensis
86 : 204: Worms Oxybasis rubra
99 : 200: Worms Osmunda spectabilis
88 : 204: Worms Dasiphora fruticosa
98 : 204: Worms Berberis thunbergii
101 : 200: Worms Vicia
90 : 204: Worms Cornus sericea
92 : 200: Worms Eutrochium maculatum
89 : 204: Worms Persicaria amphibia
0 : 200: Itis Phalaris arundinacea
3 : 200: Itis Oxybasis rubra - Empty answer
5 : 200: Itis Linaria vulgaris
11 : 200: Itis Halerpestes cymbalaria
12 : 200: Itis Dasiphora fruticosa
13 : 200: Itis Chelone glabra
22 : 200: Itis Impatiens capensis
23 : 200: Itis Stachys palustris
24 : 200: Itis Fraxinus pennsylvanica
25 : 200: Itis Sium suave
26 : 200: Itis Amphicarpaea bracteata
27 : 200: Itis Prunella vulgaris
28 : 200: Itis Berberis thunbergii
29 : 200: Itis Mentha canadensis
31 : 200: Itis Athyrium angustum
33 : 200: Itis Alnus incana
40 : 200: Itis Crataegus
46 : 200: Itis Convallaria majalis
49 : 200: Itis Alnus alnobetula
51 : 200: Itis Iris hookeri
56 : 200: Itis Calystegia sepium
59 : 200: Itis Thelypteris palustris
60 : 200: Itis Thalictrum pubescens
63 : 200: Itis Hylotelephium telephium
66 : 200: Itis Epalpus signifer
71 : 200: Itis Stellaria graminea
76 : 200: Itis Juncus gerardi
78 : 200: Itis Harmonia axyridis
80 : 200: Itis Acorus americanus
81 : 200: Itis Scirpus microcarpus
84 : 200: Itis Scutellaria lateriflora
85 : 200: Itis Frangula alnus
87 : 200: Itis  daisies - Empty answer
89 : 200: Itis Apocynum cannabinum
91 : 200: Itis Spiraea alba
92 : 200: Itis Lysimachia terrestris
93 : 200: Itis Lycopus uniflorus
96 : 200: Itis  smartweeds - Empty answer
98 : 200: Itis Scutellaria galericulata
108 : 200: Itis Persicaria amphibia
110 : 200: Itis Cornus sericea
114 : 200: Itis Pastinaca sativa
116 : 200: Itis Sorbus
121 : 200: Itis Persicaria sagittata
122 : 200: Itis Lysimachia ciliata
124 : 200: Itis Fraxinus
127 : 200: Itis Acer rubrum
132 : 200: Itis Iris versicolor
137 : 200: Itis Hypericum mutilum
142 : 200: Itis Quercus rubra

         Dataset Values  Validation Database values                        \
         scientificname Exact_Match         TaxonID Status Unacceptreason
144          Cichorieae      Non/no
58   Euphorbia maculata      Non/no
57              Senecio      Non/no
55      Ruppia maritima      Non/no
54             Plantago      Non/no


    Taxon_Rank Valid_TaxonID Valid_Name LSID
144
58
57
55
54