In [1]:
import pandas as pd
import numpy as np
NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import plotly.express as px
pd.set_option('max_colwidth', None)
import nest_asyncio
nest_asyncio.apply()

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the PyObis biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobis' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

Load different types of DWC files:

In [2]:
occurrence_core =      pd.read_csv('https://catalogue.ogsl.ca/data/ncc/ca-cioos_b52bb8be-d225-442c-94ab-6f107a64b8a6/saint_john_river_saltmarshes_species-occurrence_2021.csv')
occurrence_extension = pd.read_csv('https://catalogue.ogsl.ca/data/ismer/ca-cioos_0edfc94f-06d0-4823-84ef-df91e6c11fe6/ismer_occurrence_endofaune_cote-nord_2009.csv')
occurrence_extension.head(3)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation

Try the check_scientificname_and_ids function:

In [3]:
check_scientificname_and_ids(occurrence_core, 'names').head()

3 : 204: Worms Mentha canadensis
2 : 200: Worms Juncus gerardii
0 : 204: Worms Sorbus
8 : 204: Worms Iris versicolor
4 : 200: Worms Nuphar
9 : 200: Worms Ruppia maritima
13 : 204: Worms Myrica gale
1 : 204: Worms Quercus rubra
12 : 204: Worms Lysimachia maritima
10 : 204: Worms Schoenoplectus pungens
6 : 200: Worms Rumex
28 : 204: Worms Frangula alnus
27 : 204: Worms Acorus americanus
37 : 204: Worms Lycopus uniflorus
21 : 200: Worms Eutrochium maculatum
5 : 204: Worms Persicaria amphibia
31 : 204: Worms Fraxinus
20 : 200: Worms Elymus virginicus
30 : 200: Worms Typha latifolia
17 : 204: Worms Persicaria sagittata
16 : 200: Worms Carex
18 : 200: Worms Centaurea jacea
45 : 200: Worms Liliopsida
40 : 200: Worms Schoenoplectus
41 : 200: Worms Ulva intestinalis
39 : 200: Worms Spergularia marina
51 : 204: Worms Lysimachia terrestris
46 : 204: Worms Scirpus microcarpus
43 : 204: Worms Phalaris arundinacea
50 : 204: Worms Viburnum opulus
24 : 200: Worms Calidris minutilla
35 : 204: Worms Persicaria maculosa
26 : 204: Worms Scutellaria galericulata
92 : 204: Worms Reynoutria japonica
83 : 204: Worms Ilex verticillata
90 : 204: Worms Stachys palustris
73 : 204: Worms Lysimachia ciliata
14 : 200: Worms Tussilago farfara
11 : 200: Worms Poaceae
77 : 200: Worms Osmunda claytoniana
78 : 204: Worms Sporobolus michauxianus
7 : 200: Worms Euthamia
65 : 200: Worms Juncus
19 : 200: Worms Oenothera
15 : 200: Worms Scirpus
57 : 204: Worms Scutellaria lateriflora
63 : 200: Worms Zizania
25 : 200: Worms Doellingeria umbellata
87 : 204: Worms Alnus incana
75 : 204: Worms Matteuccia struthiopteris
85 : 204: Worms Hypericum mutilum
80 : 204: Worms Chelone glabra
52 : 200: Worms Tanacetum
82 : 204: Worms Amphicarpaea bracteata
72 : 200: Worms Sagittaria latifolia
91 : 204: Worms Cornus sericea
59 : 200: Worms Cichorieae
114 : 204: Worms Pastinaca sativa
135 : 204: Worms Harmonia axyridis
33 : 204: Worms Thalictrum pubescens
99 : 204: Worms Halerpestes cymbalaria
23 : 204: Worms Dasiphora fruticosa
94 : 204: Worms Acer rubrum
49 : 204: Worms Carex pallescens
42 : 204: Worms Linaria vulgaris
79 : 204: Worms Sium suave
74 : 204: Worms Euphorbia maculata
47 : 204: Worms Prunella vulgaris
68 : 200: Worms Anthoxanthum odoratum
32 : 200: Worms Rubus
107 : 200: Worms Elodea canadensis
132 : 200: Worms Glyceria
138 : 204: Worms Echinocystis lobata
44 : 204: Worms Convallaria majalis
60 : 200: Worms Jacobaea vulgaris
48 : 200: Worms Leucanthemum vulgare
125 : 200: Worms Vicia cracca
76 : 200: Worms Bidens
101 : 200: Worms Chenopodium album
134 : 200: Worms Osmunda spectabilis
22 : 200: Worms Cirsium
120 : 200: Worms Senecio viscosus
34 : 200: Worms Centaurea nigra
117 : 200: Worms Tanacetum vulgare
123 : 200: Worms Onoclea sensibilis
109 : 200: Worms Tracheophyta
62 : 204: Worms Thelypteris palustris
137 : 204: Worms Spiraea alba
105 : 204: Worms Epalpus signifer
122 : 200: Worms Lonicera
56 : 204: Worms Stellaria graminea
58 : 204: Worms Hylotelephium telephium
36 : 200: Worms Myriophyllum spicatum
66 : 200: Worms Galium mollugo
111 : 200: Worms Castor canadensis
71 : 200: Worms Bryophyta
126 : 200: Worms Cichorium intybus
97 : 200: Worms Vicia
64 : 204: Worms Hylaeus
29 : 200: Worms Xanthium strumarium
144 : 200: Worms Salix
54 : 204: Worms Hypericum perforatum
70 : 204: Worms Alnus alnobetula
95 : 204: Worms Solanum dulcamara
81 : 200: Worms Agrostis gigantea
98 : 204: Worms Athyrium angustum
67 : 204: Worms Impatiens capensis
93 : 200: Worms Galium
102 : 204: Worms Argentina anserina
124 : 200: Worms Senecio
84 : 200: Worms Cirsium arvense
53 : 204: Worms Crataegus
89 : 200: Worms Ranunculus repens
55 : 200: Worms Thuja occidentalis
69 : 200: Worms Megaceryle alcyon
106 : 200: Worms Lythrum salicaria
130 : 204: Worms Berberis thunbergii
121 : 204: Worms Alisma triviale
139 : 204: Worms Betula papyrifera
110 : 200: Worms Typha
103 : 200: Worms Plantago major
128 : 204: Worms Apocynum cannabinum
61 : 204: Worms Oxybasis rubra
112 : 204: Worms Fraxinus pennsylvanica
119 : 204: Worms Calystegia sepium
143 : 200: Worms Larus argentatus
133 : 200: Worms Polistes fuscatus
142 : 200: Worms Symphyotrichum
127 : 200: Worms Asteraceae
38 : 204: Worms Iris hookeri
108 : 200: Worms Rosa
116 : 204: Worms Rhagonycha fulva
129 : 204: Worms Arisaema triphyllum
100 : 200: Worms Raphanus raphanistrum
140 : 204: Worms Cornus rugosa
141 : 200: Worms Cyperaceae
136 : 200: Worms Erechtites hieraciifolius
96 : 200: Worms Plantago
118 : 200: Worms Sonchus arvensis
88 : 200: Worms Schoenoplectus tabernaemontani
113 : 200: Worms Rosaceae
104 : 200: Worms Persicaria
115 : 200: Worms Stuckenia pectinata
86 : 200: Worms Eleocharis uniglumis
131 : 200: Worms Eleocharis palustris

              Dataset Values  Validation Database values         \
              scientificname Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no


    Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
110
63
112
60

In [4]:
check_scientificname_and_ids(occurrence_extension, 'names').head()

4 : 200: Worms Mya arenaria
18 : 200: Worms Microspio
8 : 200: Worms Nephtys ciliata
9 : 200: Worms Eteone longa
14 : 200: Worms Idotea balthica
7 : 200: Worms Littorina saxatilis
15 : 200: Worms Psammonyx nobilis
6 : 200: Worms Mytilus edulis
13 : 200: Worms Oligochaeta
10 : 200: Worms Hydrobia minuta
3 : 200: Worms Leucon nasicoides
2 : 200: Worms Oediceros borealis
12 : 200: Worms Macoma balthica
1 : 200: Worms Mesodesma arctatum
16 : 200: Worms Nematoda
5 : 200: Worms Nereis diversicolor
17 : 200: Worms Gammarus oceanicus
11 : 200: Worms Littorina obtusata

         Dataset Values  Validation Database values                            \
         scientificname Exact_Match         TaxonID                    Status
2     Leucon nasicoides      Non/no          148682  alternate representation
4     Psammonyx nobilis      Non/no          158140                unaccepted
8   Nereis diversicolor      Non/no          340537                   deleted
11      Hydrobia minuta      Non/no          152020                unaccepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
2                       None    Species        110619
4   superseded recombination    Species       1255501
8       AphiaID resurrection       None        152302
11          preoccupied name    Species        574096
0                       None    Species        156805


                    Valid_Name                                       LSID
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805

In [5]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1.head(3)

14 : 200: Worms Tussilago farfara
6 : 200: Worms Rumex
7 : 200: Worms Euthamia
0 : 204: Worms Sorbus
13 : 204: Worms Myrica gale
1 : 204: Worms Quercus rubra
12 : 204: Worms Lysimachia maritima
2 : 200: Worms Juncus gerardii
8 : 204: Worms Iris versicolor
3 : 204: Worms Mentha canadensis
5 : 204: Worms Persicaria amphibia
9 : 200: Worms Ruppia maritima
16 : 200: Worms Carex
11 : 200: Worms Poaceae
4 : 200: Worms Nuphar
10 : 204: Worms Schoenoplectus pungens
17 : 204: Worms Persicaria sagittata
15 : 200: Worms Scirpus

           Dataset Values  Validation Database values                        \
           scientificname Exact_Match         TaxonID Status Unacceptreason
0    Phalaris arundinacea      Non/no
103     Ilex verticillata      Non/no
102    Calidris minutilla      Non/no


    Taxon_Rank Valid_TaxonID Valid_Name LSID
0
103
102

In [6]:
table2.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                        Dataset Values  \
  scientificNameID_Validation           ScientificName
0                      Non/No     Phalaris arundinacea
1                      Non/No  Sporobolus michauxianus
2                      Non/No   Schoenoplectus pungens

                                      Database values
                     ScientificNameID      Valid_Name LSID
0    urn:lsid:itis.gov:itis_tsn:41335
1  urn:lsid:ipni.org:names:77145291-1
2   urn:lsid:itis.gov:itis_tsn:508146

In [7]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')
table3.head(3)

12 : 204: Worms Lysimachia maritima
1 : 204: Worms Quercus rubra
8 : 204: Worms Iris versicolor
5 : 204: Worms Persicaria amphibia
11 : 200: Worms Poaceae
10 : 204: Worms Schoenoplectus pungens
6 : 200: Worms Rumex
28 : 204: Worms Frangula alnus
0 : 204: Worms Sorbus
33 : 204: Worms Thalictrum pubescens
17 : 204: Worms Persicaria sagittata
3 : 204: Worms Mentha canadensis
31 : 204: Worms Fraxinus
26 : 204: Worms Scutellaria galericulata
35 : 204: Worms Persicaria maculosa
37 : 204: Worms Lycopus uniflorus
25 : 200: Worms Doellingeria umbellata
2 : 200: Worms Juncus gerardii
13 : 204: Worms Myrica gale
9 : 200: Worms Ruppia maritima
18 : 200: Worms Centaurea jacea
21 : 200: Worms Eutrochium maculatum
4 : 200: Worms Nuphar
7 : 200: Worms Euthamia
20 : 200: Worms Elymus virginicus
49 : 204: Worms Carex pallescens
52 : 200: Worms Tanacetum
44 : 204: Worms Convallaria majalis
16 : 200: Worms Carex
15 : 200: Worms Scirpus
40 : 200: Worms Schoenoplectus
41 : 200: Worms Ulva intestinalis
14 : 200: Worms Tussilago farfara
23 : 204: Worms Dasiphora fruticosa
62 : 204: Worms Thelypteris palustris
55 : 200: Worms Thuja occidentalis
65 : 200: Worms Juncus
36 : 200: Worms Myriophyllum spicatum
69 : 200: Worms Megaceryle alcyon
53 : 204: Worms Crataegus
61 : 204: Worms Oxybasis rubra
45 : 200: Worms Liliopsida
57 : 204: Worms Scutellaria lateriflora
68 : 200: Worms Anthoxanthum odoratum
48 : 200: Worms Leucanthemum vulgare
64 : 204: Worms Hylaeus
83 : 204: Worms Ilex verticillata
74 : 204: Worms Euphorbia maculata
30 : 200: Worms Typha latifolia
29 : 200: Worms Xanthium strumarium
73 : 204: Worms Lysimachia ciliata
80 : 204: Worms Chelone glabra
130 : 204: Worms Berberis thunbergii
27 : 204: Worms Acorus americanus
79 : 204: Worms Sium suave
77 : 200: Worms Osmunda claytoniana
78 : 204: Worms Sporobolus michauxianus
136 : 200: Worms Erechtites hieraciifolius
128 : 204: Worms Apocynum cannabinum
139 : 204: Worms Betula papyrifera
46 : 204: Worms Scirpus microcarpus
138 : 204: Worms Echinocystis lobata
39 : 200: Worms Spergularia marina
144 : 200: Worms Salix
43 : 204: Worms Phalaris arundinacea
86 : 200: Worms Eleocharis uniglumis
94 : 204: Worms Acer rubrum
19 : 200: Worms Oenothera
122 : 200: Worms Lonicera
56 : 204: Worms Stellaria graminea
32 : 200: Worms Rubus
24 : 200: Worms Calidris minutilla
34 : 200: Worms Centaurea nigra
143 : 200: Worms Larus argentatus
135 : 204: Worms Harmonia axyridis
85 : 204: Worms Hypericum mutilum
115 : 200: Worms Stuckenia pectinata
58 : 204: Worms Hylotelephium telephium
60 : 200: Worms Jacobaea vulgaris
113 : 200: Worms Rosaceae
103 : 200: Worms Plantago major
107 : 200: Worms Elodea canadensis
59 : 200: Worms Cichorieae
54 : 204: Worms Hypericum perforatum
110 : 200: Worms Typha
102 : 204: Worms Argentina anserina
99 : 204: Worms Halerpestes cymbalaria
95 : 204: Worms Solanum dulcamara
90 : 204: Worms Stachys palustris
111 : 200: Worms Castor canadensis
93 : 200: Worms Galium
88 : 200: Worms Schoenoplectus tabernaemontani
75 : 204: Worms Matteuccia struthiopteris
66 : 200: Worms Galium mollugo
82 : 204: Worms Amphicarpaea bracteata
51 : 204: Worms Lysimachia terrestris
100 : 200: Worms Raphanus raphanistrum
98 : 204: Worms Athyrium angustum
89 : 200: Worms Ranunculus repens
116 : 204: Worms Rhagonycha fulva
108 : 200: Worms Rosa
72 : 200: Worms Sagittaria latifolia
131 : 200: Worms Eleocharis palustris
42 : 204: Worms Linaria vulgaris
76 : 200: Worms Bidens
84 : 200: Worms Cirsium arvense
67 : 204: Worms Impatiens capensis
22 : 200: Worms Cirsium
124 : 200: Worms Senecio
47 : 204: Worms Prunella vulgaris
119 : 204: Worms Calystegia sepium
104 : 200: Worms Persicaria
38 : 204: Worms Iris hookeri
70 : 204: Worms Alnus alnobetula
63 : 200: Worms Zizania
71 : 200: Worms Bryophyta
101 : 200: Worms Chenopodium album
114 : 204: Worms Pastinaca sativa
112 : 204: Worms Fraxinus pennsylvanica
106 : 200: Worms Lythrum salicaria
50 : 204: Worms Viburnum opulus
96 : 200: Worms Plantago
141 : 200: Worms Cyperaceae
133 : 200: Worms Polistes fuscatus
132 : 200: Worms Glyceria
81 : 200: Worms Agrostis gigantea
140 : 204: Worms Cornus rugosa
109 : 200: Worms Tracheophyta
118 : 200: Worms Sonchus arvensis
121 : 204: Worms Alisma triviale
92 : 204: Worms Reynoutria japonica
117 : 200: Worms Tanacetum vulgare
97 : 200: Worms Vicia
105 : 204: Worms Epalpus signifer
87 : 204: Worms Alnus incana
127 : 200: Worms Asteraceae
123 : 200: Worms Onoclea sensibilis
137 : 204: Worms Spiraea alba
142 : 200: Worms Symphyotrichum
120 : 200: Worms Senecio viscosus
125 : 200: Worms Vicia cracca
126 : 200: Worms Cichorium intybus
91 : 204: Worms Cornus sericea
134 : 200: Worms Osmunda spectabilis

              Dataset Values  Validation Database values         \
              ScientificName Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no


    Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
110
63

In [8]:
table4.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                                             Dataset Values  \
  TaxonRank_Validation scientificNameID_Validation           ScientificName
0               Non/No                      Non/No     Phalaris arundinacea
1               Non/No                      Non/No  Sporobolus michauxianus
2               Non/No                      Non/No   Schoenoplectus pungens

                                                Database values             \
  TaxonRank                    ScientificNameID      Valid_Name Taxon_Rank
0   Species    urn:lsid:itis.gov:itis_tsn:41335
1   Species  urn:lsid:ipni.org:names:77145291-1
2   Species   urn:lsid:itis.gov:itis_tsn:508146


  LSID
0
1
2

Try the check_scientificname_and_ids function - itis_usage:

In [2]:
# function can take a few minutes to process with 'itis_usage = True'
# uncomment following line to test the 'itis_usage' parameter
#check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()