In [3]:
import pandas as pd
import numpy as np
NaN = np.nan
from pyobistools.validation.check_scientificname_and_ids import check_scientificname_and_ids
import plotly.express as px
pd.set_option('max_colwidth', None)
import nest_asyncio
nest_asyncio.apply()

### Info about this notebook series

This series of notebook is meant to serve as an educational tool to learn how to use the PyObis biodiversity data validation package: + https://github.com/cioos-siooc/pyobistools

Darwin Core documentation: 
+ https://dwc.tdwg.org/

Darwin Core file types required fields: 
+ https://ioos.github.io/bio_mobilization_workshop/01-introduction/index.html
+ https://ioos.github.io/bio_mobilization_workshop/04-create-schema/index.html

### Notebook to test Pyobis' function 'check_scientifiname_and_ids'

##### Function 'check_scientifiname_and_ids' description
This function is used to evaluate the validity of scientific names, scientific name Ids and taxon ranks with Worms and Itis databases

##### Function 'check_scientifiname_and_ids' arguments
+ data: Dataframe of the data to evaluate
+ value: Type of analysis to run for each row in the dataset 
    + 'names': Analyzes scientific names validity with Worms and Itis (Itis optional)
    + 'names_ids': Above plus analyzes scientific name Ids
    + 'names_taxons_ids': Above plus analyzes taxon rank
+ itis_usage (default =  False): Option to validate data also with Itis if Worms service does not provide a positive answer for a given scientific name

Load different types of DWC files:

In [48]:
occurrence_core =      pd.read_csv('https://catalogue.ogsl.ca/data/ncc/ca-cioos_b52bb8be-d225-442c-94ab-6f107a64b8a6/saint_john_river_saltmarshes_species-occurrence_2021.csv')
occurrence_extension = pd.read_csv('https://catalogue.ogsl.ca/data/ismer/ca-cioos_0edfc94f-06d0-4823-84ef-df91e6c11fe6/ismer_occurrence_endofaune_cote-nord_2009.csv')
occurrence_extension.head(3)

,eventID,occurrenceID,scientificName,aphiaID,scientificNameID,taxonRank,occurrenceStatus,organismQuantityType,organismQuantity,basisofRecord
0,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_1,Mesodesma arctatum,156805.0,urn:lsid:marinespecies.org:taxname:156805,species,present,Individual count,2,HumanObservation
1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1,0003_Infauna_CoteNord_CamilleRobineau_BE10C1_2,Nephtys ciliata,130356.0,urn:lsid:marinespecies.org:taxname:130356,species,present,Individual count,1,HumanObservation
2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2,0003_Infauna_CoteNord_CamilleRobineau_BE10C2_3,Leucon nasicoides,148682.0,urn:lsid:marinespecies.org:taxname:148682,species,present,Individual count,2,HumanObservation

Try the check_scientificname_and_ids function:

In [108]:
check_scientificname_and_ids(occurrence_core, 'names')

0 : 200: Worms Salix
8 : 204: Worms Iris hookeri
21 : 200: Worms Lonicera
19 : 204: Worms Prunella vulgaris
2 : 200: Worms Spergularia marina
5 : 204: Worms Myrica gale
3 : 204: Worms Alnus alnobetula
4 : 204: Worms Spiraea alba
1 : 200: Worms Osmunda spectabilis
18 : 204: Worms Fraxinus
6 : 204: Worms Acorus americanus
14 : 200: Worms Doellingeria umbellata
13 : 204: Worms Convallaria majalis
20 : 200: Worms Castor canadensis
28 : 204: Worms Apocynum cannabinum
23 : 200: Worms Typha
10 : 200: Worms Osmunda claytoniana
33 : 200: Worms Cirsium arvense
15 : 204: Worms Acer rubrum
22 : 204: Worms Hypericum perforatum
46 : 204: Worms Lysimachia maritima
51 : 200: Worms Larus argentatus
16 : 200: Worms Lythrum salicaria
49 : 204: Worms Persicaria amphibia
41 : 204: Worms Scutellaria galericulata
37 : 204: Worms Betula papyrifera
35 : 200: Worms Rumex
11 : 200: Worms Ulva intestinalis
32 : 204: Worms Dasiphora fruticosa
79 : 204: Worms Linaria vulgaris
36 : 204: Worms Echinocystis lobata
31 : 204: Worms Athyrium angustum
30 : 204: Worms Schoenoplectus pungens
58 : 204: Worms Persicaria maculosa
34 : 200: Worms Typha latifolia
24 : 204: Worms Argentina anserina
59 : 204: Worms Thalictrum pubescens
12 : 200: Worms Liliopsida
7 : 200: Worms Scirpus
88 : 204: Worms Quercus rubra
94 : 204: Worms Iris versicolor
98 : 204: Worms Lysimachia ciliata
17 : 200: Worms Polistes fuscatus
54 : 200: Worms Glyceria
45 : 200: Worms Schoenoplectus tabernaemontani
47 : 200: Worms Eleocharis palustris
57 : 200: Worms Megaceryle alcyon
43 : 200: Worms Zizania
52 : 200: Worms Stuckenia pectinata
40 : 200: Worms Rubus
42 : 200: Worms Plantago
50 : 200: Worms Eleocharis uniglumis
27 : 200: Worms Schoenoplectus
71 : 200: Worms Cichorieae
38 : 200: Worms Juncus
29 : 204: Worms Hylotelephium telephium
96 : 204: Worms Scutellaria lateriflora
121 : 204: Worms Amphicarpaea bracteata
53 : 200: Worms Carex
130 : 204: Worms Frangula alnus
75 : 200: Worms Persicaria
140 : 204: Worms Pastinaca sativa
97 : 204: Worms Crataegus
61 : 200: Worms Galium mollugo
124 : 204: Worms Hypericum mutilum
128 : 204: Worms Phalaris arundinacea
68 : 200: Worms Nuphar
89 : 200: Worms Cirsium
101 : 204: Worms Epalpus signifer
74 : 200: Worms Vicia cracca
82 : 204: Worms Thelypteris palustris
26 : 200: Worms Erechtites hieraciifolius
92 : 200: Worms Calidris minutilla
139 : 204: Worms Alisma triviale
76 : 200: Worms Myriophyllum spicatum
133 : 204: Worms Cornus sericea
115 : 200: Worms Anthoxanthum odoratum
123 : 200: Worms Asteraceae
137 : 204: Worms Euphorbia maculata
99 : 200: Worms Rosa
70 : 204: Worms Lysimachia terrestris
102 : 200: Worms Poaceae
65 : 200: Worms Tracheophyta
142 : 204: Worms Cornus rugosa
48 : 200: Worms Sagittaria latifolia
116 : 200: Worms Bryophyta
135 : 200: Worms Vicia
143 : 200: Worms Elymus virginicus
91 : 200: Worms Leucanthemum vulgare
112 : 200: Worms Chenopodium album
109 : 200: Worms Juncus gerardii
80 : 200: Worms Oenothera
9 : 200: Worms Centaurea nigra
72 : 204: Worms Viburnum opulus
25 : 200: Worms Cyperaceae
108 : 200: Worms Tanacetum
119 : 204: Worms Reynoutria japonica
138 : 200: Worms Galium
86 : 204: Worms Carex pallescens
60 : 200: Worms Euthamia
62 : 204: Worms Halerpestes cymbalaria
73 : 200: Worms Xanthium strumarium
44 : 204: Worms Sorbus
66 : 200: Worms Elodea canadensis
93 : 200: Worms Raphanus raphanistrum
87 : 204: Worms Mentha canadensis
103 : 200: Worms Tanacetum vulgare
39 : 204: Worms Hylaeus
69 : 204: Worms Calystegia sepium
134 : 204: Worms Scirpus microcarpus
125 : 204: Worms Harmonia axyridis
77 : 204: Worms Matteuccia struthiopteris
78 : 204: Worms Solanum dulcamara
81 : 204: Worms Berberis thunbergii
67 : 204: Worms Sporobolus michauxianus
56 : 204: Worms Impatiens capensis
131 : 204: Worms Persicaria sagittata
111 : 204: Worms Lycopus uniflorus
100 : 200: Worms Symphyotrichum
105 : 204: Worms Stachys palustris
55 : 200: Worms Tussilago farfara
122 : 204: Worms Ilex verticillata
120 : 204: Worms Oxybasis rubra
63 : 204: Worms Fraxinus pennsylvanica
132 : 204: Worms Alnus incana
106 : 200: Worms Sonchus arvensis
104 : 200: Worms Senecio viscosus
114 : 200: Worms Thuja occidentalis
90 : 204: Worms Rhagonycha fulva
107 : 204: Worms Stellaria graminea
118 : 204: Worms Sium suave
85 : 204: Worms Arisaema triphyllum
113 : 204: Worms Chelone glabra
144 : 200: Worms Bidens
129 : 200: Worms Jacobaea vulgaris
83 : 200: Worms Ranunculus repens
117 : 200: Worms Rosaceae
64 : 200: Worms Eutrochium maculatum
95 : 200: Worms Ruppia maritima
136 : 200: Worms Onoclea sensibilis
110 : 200: Worms Plantago major
141 : 200: Worms Agrostis gigantea
127 : 200: Worms Centaurea jacea
84 : 200: Worms Senecio
126 : 200: Worms Cichorium intybus

              Dataset Values  Validation Database values            \
              scientificname Exact_Match         TaxonID    Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no
..                       ...         ...             ...       ...
54                  Plantago     Oui/Yes          382435  accepted
52     Raphanus raphanistrum     Oui/Yes          993765  accepted
50           Centaurea nigra     Oui/Yes         1114431  accepted
68         Polistes fuscatus     Oui/Yes         1490440  accepted
144               Cichorieae     Oui/Yes         1074862  accepted

                                                                    \
    Unacceptreason Taxon_Rank Valid_TaxonID             Valid_Name
0
110
63
112
60
..             ...        ...           ...                    ...
54            None      Genus        382435               Plantago
52            None    Species        993765  Raphanus raphanistrum
50            None    Species       1114431        Centaurea nigra
68            None    Species       1490440      Polistes fuscatus
144           None      Tribe       1074862             Cichorieae


                                           LSID
0
110
63
112
60
..                                          ...
54    urn:lsid:marinespecies.org:taxname:382435
52    urn:lsid:marinespecies.org:taxname:993765
50   urn:lsid:marinespecies.org:taxname:1114431
68   urn:lsid:marinespecies.org:taxname:1490440
144  urn:lsid:marinespecies.org:taxname:1074862

[145 rows x 9 columns]

In [111]:
check_scientificname_and_ids(occurrence_extension, 'names').head()

5 : 200: Worms Microspio
18 : 200: Worms Mesodesma arctatum
13 : 200: Worms Mytilus edulis
14 : 200: Worms Littorina obtusata
2 : 200: Worms Psammonyx nobilis
9 : 200: Worms Gammarus oceanicus
17 : 200: Worms Littorina saxatilis
7 : 200: Worms Leucon nasicoides
10 : 200: Worms Eteone longa
8 : 200: Worms Nereis diversicolor
15 : 200: Worms Idotea balthica
4 : 200: Worms Mya arenaria
16 : 200: Worms Nematoda
12 : 200: Worms Oediceros borealis
1 : 200: Worms Nephtys ciliata
6 : 200: Worms Oligochaeta
3 : 200: Worms Hydrobia minuta
11 : 200: Worms Macoma balthica

         Dataset Values  Validation Database values                            \
         scientificname Exact_Match         TaxonID                    Status
2     Leucon nasicoides      Non/no          148682  alternate representation
4     Psammonyx nobilis      Non/no          158140                unaccepted
8   Nereis diversicolor      Non/no          340537                   deleted
11      Hydrobia minuta      Non/no          152020                unaccepted
0    Mesodesma arctatum     Oui/Yes          156805                  accepted

                                                       \
              Unacceptreason Taxon_Rank Valid_TaxonID
2                       None    Species        110619
4   superseded recombination    Species       1255501
8       AphiaID resurrection       None        152302
11          preoccupied name    Species        574096
0                       None    Species        156805


                    Valid_Name                                       LSID
2   Leucon (Leucon) nasicoides  urn:lsid:marinespecies.org:taxname:148682
4            Wecomedon nobilis  urn:lsid:marinespecies.org:taxname:158140
8         Hediste diversicolor  urn:lsid:marinespecies.org:taxname:340537
11            Ecrobia truncata  urn:lsid:marinespecies.org:taxname:152020
0           Mesodesma arctatum  urn:lsid:marinespecies.org:taxname:156805

In [122]:
table1, table2 = check_scientificname_and_ids(occurrence_core, 'names_ids')
table1.head()

5 : 204: Worms Myrica gale
6 : 204: Worms Acorus americanus
4 : 204: Worms Spiraea alba
15 : 204: Worms Acer rubrum
19 : 204: Worms Prunella vulgaris
10 : 200: Worms Osmunda claytoniana
16 : 200: Worms Lythrum salicaria
32 : 204: Worms Dasiphora fruticosa
1 : 200: Worms Osmunda spectabilis
18 : 204: Worms Fraxinus
23 : 200: Worms Typha
3 : 204: Worms Alnus alnobetula
51 : 200: Worms Larus argentatus
8 : 204: Worms Iris hookeri
13 : 204: Worms Convallaria majalis
70 : 204: Worms Lysimachia terrestris
36 : 204: Worms Echinocystis lobata
14 : 200: Worms Doellingeria umbellata
44 : 204: Worms Sorbus
24 : 204: Worms Argentina anserina
61 : 200: Worms Galium mollugo
21 : 200: Worms Lonicera
53 : 200: Worms Carex
39 : 204: Worms Hylaeus
47 : 200: Worms Eleocharis palustris
35 : 200: Worms Rumex
22 : 204: Worms Hypericum perforatum
31 : 204: Worms Athyrium angustum
69 : 204: Worms Calystegia sepium
59 : 204: Worms Thalictrum pubescens
34 : 200: Worms Typha latifolia
28 : 204: Worms Apocynum cannabinum
0 : 200: Worms Salix
98 : 204: Worms Lysimachia ciliata
2 : 200: Worms Spergularia marina
86 : 204: Worms Carex pallescens
38 : 200: Worms Juncus
30 : 204: Worms Schoenoplectus pungens
46 : 204: Worms Lysimachia maritima
121 : 204: Worms Amphicarpaea bracteata
94 : 204: Worms Iris versicolor
79 : 204: Worms Linaria vulgaris
83 : 200: Worms Ranunculus repens
96 : 204: Worms Scutellaria lateriflora
11 : 200: Worms Ulva intestinalis
103 : 200: Worms Tanacetum vulgare
131 : 204: Worms Persicaria sagittata
49 : 204: Worms Persicaria amphibia
7 : 200: Worms Scirpus
143 : 200: Worms Elymus virginicus
139 : 204: Worms Alisma triviale
37 : 204: Worms Betula papyrifera
130 : 204: Worms Frangula alnus
33 : 200: Worms Cirsium arvense
40 : 200: Worms Rubus
80 : 200: Worms Oenothera
41 : 204: Worms Scutellaria galericulata
71 : 200: Worms Cichorieae
114 : 200: Worms Thuja occidentalis
42 : 200: Worms Plantago
52 : 200: Worms Stuckenia pectinata
90 : 204: Worms Rhagonycha fulva
134 : 204: Worms Scirpus microcarpus
29 : 204: Worms Hylotelephium telephium
113 : 204: Worms Chelone glabra
97 : 204: Worms Crataegus
48 : 200: Worms Sagittaria latifolia
132 : 204: Worms Alnus incana
25 : 200: Worms Cyperaceae
67 : 204: Worms Sporobolus michauxianus
129 : 200: Worms Jacobaea vulgaris
12 : 200: Worms Liliopsida
101 : 204: Worms Epalpus signifer
107 : 204: Worms Stellaria graminea
122 : 204: Worms Ilex verticillata
117 : 200: Worms Rosaceae
127 : 200: Worms Centaurea jacea
106 : 200: Worms Sonchus arvensis
82 : 204: Worms Thelypteris palustris
76 : 200: Worms Myriophyllum spicatum
65 : 200: Worms Tracheophyta
43 : 200: Worms Zizania
93 : 200: Worms Raphanus raphanistrum
50 : 200: Worms Eleocharis uniglumis
17 : 200: Worms Polistes fuscatus
119 : 204: Worms Reynoutria japonica
54 : 200: Worms Glyceria
84 : 200: Worms Senecio
56 : 204: Worms Impatiens capensis
77 : 204: Worms Matteuccia struthiopteris
27 : 200: Worms Schoenoplectus
99 : 200: Worms Rosa
9 : 200: Worms Centaurea nigra
75 : 200: Worms Persicaria
62 : 204: Worms Halerpestes cymbalaria
20 : 200: Worms Castor canadensis
128 : 204: Worms Phalaris arundinacea
57 : 200: Worms Megaceryle alcyon
85 : 204: Worms Arisaema triphyllum
104 : 200: Worms Senecio viscosus
63 : 204: Worms Fraxinus pennsylvanica
112 : 200: Worms Chenopodium album
115 : 200: Worms Anthoxanthum odoratum
123 : 200: Worms Asteraceae
111 : 204: Worms Lycopus uniflorus
60 : 200: Worms Euthamia
140 : 204: Worms Pastinaca sativa
55 : 200: Worms Tussilago farfara
118 : 204: Worms Sium suave
81 : 204: Worms Berberis thunbergii
105 : 204: Worms Stachys palustris
92 : 200: Worms Calidris minutilla
64 : 200: Worms Eutrochium maculatum
45 : 200: Worms Schoenoplectus tabernaemontani
58 : 204: Worms Persicaria maculosa
78 : 204: Worms Solanum dulcamara
95 : 200: Worms Ruppia maritima
141 : 200: Worms Agrostis gigantea
89 : 200: Worms Cirsium
120 : 204: Worms Oxybasis rubra
108 : 200: Worms Tanacetum
74 : 200: Worms Vicia cracca
72 : 204: Worms Viburnum opulus
142 : 204: Worms Cornus rugosa
102 : 200: Worms Poaceae
136 : 200: Worms Onoclea sensibilis
116 : 200: Worms Bryophyta
137 : 204: Worms Euphorbia maculata
138 : 200: Worms Galium
68 : 200: Worms Nuphar
133 : 204: Worms Cornus sericea
144 : 200: Worms Bidens
87 : 204: Worms Mentha canadensis
66 : 200: Worms Elodea canadensis
73 : 200: Worms Xanthium strumarium
125 : 204: Worms Harmonia axyridis
124 : 204: Worms Hypericum mutilum
126 : 200: Worms Cichorium intybus
26 : 200: Worms Erechtites hieraciifolius
88 : 204: Worms Quercus rubra
110 : 200: Worms Plantago major
100 : 200: Worms Symphyotrichum
91 : 200: Worms Leucanthemum vulgare
135 : 200: Worms Vicia
109 : 200: Worms Juncus gerardii

              Dataset Values  Validation Database values         \
              scientificname Exact_Match         TaxonID Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no


    Unacceptreason Taxon_Rank Valid_TaxonID Valid_Name LSID
0
110
63
112
60

In [123]:
table2.head(3)

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no

                                        Dataset Values  \
  scientificNameID_Validation           ScientificName
0                      Non/No     Phalaris arundinacea
1                      Non/No  Sporobolus michauxianus
2                      Non/No   Schoenoplectus pungens

                                      Database values
                     ScientificNameID      Valid_Name LSID
0    urn:lsid:itis.gov:itis_tsn:41335
1  urn:lsid:ipni.org:names:77145291-1
2   urn:lsid:itis.gov:itis_tsn:508146

In [124]:
table3, table4 = check_scientificname_and_ids(occurrence_core, 'names_taxons_ids')

16 : 200: Worms Lythrum salicaria
3 : 204: Worms Alnus alnobetula
4 : 204: Worms Spiraea alba
2 : 200: Worms Spergularia marina
9 : 200: Worms Centaurea nigra
8 : 204: Worms Iris hookeri
0 : 200: Worms Salix
17 : 200: Worms Polistes fuscatus
15 : 204: Worms Acer rubrum
20 : 200: Worms Castor canadensis
25 : 200: Worms Cyperaceae
26 : 200: Worms Erechtites hieraciifolius
28 : 204: Worms Apocynum cannabinum
14 : 200: Worms Doellingeria umbellata
1 : 200: Worms Osmunda spectabilis
5 : 204: Worms Myrica gale
12 : 200: Worms Liliopsida
29 : 204: Worms Hylotelephium telephium
10 : 200: Worms Osmunda claytoniana
24 : 204: Worms Argentina anserina
36 : 204: Worms Echinocystis lobata
39 : 204: Worms Hylaeus
35 : 200: Worms Rumex
33 : 200: Worms Cirsium arvense
31 : 204: Worms Athyrium angustum
45 : 200: Worms Schoenoplectus tabernaemontani
6 : 204: Worms Acorus americanus
56 : 204: Worms Impatiens capensis
53 : 200: Worms Carex
50 : 200: Worms Eleocharis uniglumis
48 : 200: Worms Sagittaria latifolia
49 : 204: Worms Persicaria amphibia
19 : 204: Worms Prunella vulgaris
51 : 200: Worms Larus argentatus
43 : 200: Worms Zizania
62 : 204: Worms Halerpestes cymbalaria
59 : 204: Worms Thalictrum pubescens
58 : 204: Worms Persicaria maculosa
18 : 204: Worms Fraxinus
65 : 200: Worms Tracheophyta
69 : 204: Worms Calystegia sepium
38 : 200: Worms Juncus
30 : 204: Worms Schoenoplectus pungens
42 : 200: Worms Plantago
77 : 204: Worms Matteuccia struthiopteris
72 : 204: Worms Viburnum opulus
66 : 200: Worms Elodea canadensis
79 : 204: Worms Linaria vulgaris
76 : 200: Worms Myriophyllum spicatum
71 : 200: Worms Cichorieae
54 : 200: Worms Glyceria
27 : 200: Worms Schoenoplectus
7 : 200: Worms Scirpus
82 : 204: Worms Thelypteris palustris
13 : 204: Worms Convallaria majalis
80 : 200: Worms Oenothera
32 : 204: Worms Dasiphora fruticosa
83 : 200: Worms Ranunculus repens
22 : 204: Worms Hypericum perforatum
37 : 204: Worms Betula papyrifera
94 : 204: Worms Iris versicolor
64 : 200: Worms Eutrochium maculatum
98 : 204: Worms Lysimachia ciliata
11 : 200: Worms Ulva intestinalis
96 : 204: Worms Scutellaria lateriflora
109 : 200: Worms Juncus gerardii
90 : 204: Worms Rhagonycha fulva
113 : 204: Worms Chelone glabra
111 : 204: Worms Lycopus uniflorus
21 : 200: Worms Lonicera
132 : 204: Worms Alnus incana
118 : 204: Worms Sium suave
124 : 204: Worms Hypericum mutilum
119 : 204: Worms Reynoutria japonica
91 : 200: Worms Leucanthemum vulgare
130 : 204: Worms Frangula alnus
122 : 204: Worms Ilex verticillata
23 : 200: Worms Typha
128 : 204: Worms Phalaris arundinacea
52 : 200: Worms Stuckenia pectinata
110 : 200: Worms Plantago major
100 : 200: Worms Symphyotrichum
106 : 200: Worms Sonchus arvensis
126 : 200: Worms Cichorium intybus
141 : 200: Worms Agrostis gigantea
116 : 200: Worms Bryophyta
135 : 200: Worms Vicia
127 : 200: Worms Centaurea jacea
139 : 204: Worms Alisma triviale
143 : 200: Worms Elymus virginicus
108 : 200: Worms Tanacetum
112 : 200: Worms Chenopodium album
103 : 200: Worms Tanacetum vulgare
34 : 200: Worms Typha latifolia
89 : 200: Worms Cirsium
47 : 200: Worms Eleocharis palustris
41 : 204: Worms Scutellaria galericulata
75 : 200: Worms Persicaria
81 : 204: Worms Berberis thunbergii
44 : 204: Worms Sorbus
57 : 200: Worms Megaceryle alcyon
93 : 200: Worms Raphanus raphanistrum
68 : 200: Worms Nuphar
97 : 204: Worms Crataegus
87 : 204: Worms Mentha canadensis
55 : 200: Worms Tussilago farfara
70 : 204: Worms Lysimachia terrestris
46 : 204: Worms Lysimachia maritima
101 : 204: Worms Epalpus signifer
85 : 204: Worms Arisaema triphyllum
78 : 204: Worms Solanum dulcamara
92 : 200: Worms Calidris minutilla
104 : 200: Worms Senecio viscosus
60 : 200: Worms Euthamia
86 : 204: Worms Carex pallescens
102 : 200: Worms Poaceae
107 : 204: Worms Stellaria graminea
88 : 204: Worms Quercus rubra
99 : 200: Worms Rosa
125 : 204: Worms Harmonia axyridis
95 : 200: Worms Ruppia maritima
67 : 204: Worms Sporobolus michauxianus
137 : 204: Worms Euphorbia maculata
61 : 200: Worms Galium mollugo
129 : 200: Worms Jacobaea vulgaris
74 : 200: Worms Vicia cracca
134 : 204: Worms Scirpus microcarpus
140 : 204: Worms Pastinaca sativa
40 : 200: Worms Rubus
105 : 204: Worms Stachys palustris
115 : 200: Worms Anthoxanthum odoratum
121 : 204: Worms Amphicarpaea bracteata
138 : 200: Worms Galium
120 : 204: Worms Oxybasis rubra
131 : 204: Worms Persicaria sagittata
114 : 200: Worms Thuja occidentalis
123 : 200: Worms Asteraceae
73 : 200: Worms Xanthium strumarium
117 : 200: Worms Rosaceae
142 : 204: Worms Cornus rugosa
133 : 204: Worms Cornus sericea
63 : 204: Worms Fraxinus pennsylvanica
84 : 200: Worms Senecio
144 : 200: Worms Bidens
136 : 200: Worms Onoclea sensibilis

In [125]:
table3

              Dataset Values  Validation Database values            \
              ScientificName Exact_Match         TaxonID    Status
0       Phalaris arundinacea      Non/no
110           Cornus sericea      Non/no
63   Hylotelephium telephium      Non/no
112            Cornus rugosa      Non/no
60      Thalictrum pubescens      Non/no
..                       ...         ...             ...       ...
54                  Plantago     Oui/Yes          382435  accepted
52     Raphanus raphanistrum     Oui/Yes          993765  accepted
50           Centaurea nigra     Oui/Yes         1114431  accepted
68         Polistes fuscatus     Oui/Yes         1490440  accepted
144               Cichorieae     Oui/Yes         1074862  accepted

                                                                    \
    Unacceptreason Taxon_Rank Valid_TaxonID             Valid_Name
0
110
63
112
60
..             ...        ...           ...                    ...
54            None      Genus        382435               Plantago
52            None    Species        993765  Raphanus raphanistrum
50            None    Species       1114431        Centaurea nigra
68            None    Species       1490440      Polistes fuscatus
144           None      Tribe       1074862             Cichorieae


                                           LSID
0
110
63
112
60
..                                          ...
54    urn:lsid:marinespecies.org:taxname:382435
52    urn:lsid:marinespecies.org:taxname:993765
50   urn:lsid:marinespecies.org:taxname:1114431
68   urn:lsid:marinespecies.org:taxname:1490440
144  urn:lsid:marinespecies.org:taxname:1074862

[145 rows x 9 columns]

In [126]:
table4.head()

                                  Ref. ID                Validation  \
                             OccurrenceID ScientificName_Validation
0  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-001                    Non/no
1  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-002                    Non/no
2  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-003                    Non/no
3  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-004                    Non/no
5  NCC-ST-JOHN-RIVER-SALTMARSHES-2021-006                    Non/no

                                                             Dataset Values  \
  TaxonRank_Validation scientificNameID_Validation           ScientificName
0               Non/No                      Non/No     Phalaris arundinacea
1               Non/No                      Non/No  Sporobolus michauxianus
2               Non/No                      Non/No   Schoenoplectus pungens
3               Non/No                      Non/No           Oxybasis rubra
5               Non/No                      Non/No         Linaria vulgaris

                                                Database values             \
  TaxonRank                    ScientificNameID      Valid_Name Taxon_Rank
0   Species    urn:lsid:itis.gov:itis_tsn:41335
1   Species  urn:lsid:ipni.org:names:77145291-1
2   Species   urn:lsid:itis.gov:itis_tsn:508146
3   Species  urn:lsid:ipni.org:names:77121013-1
5   Species    urn:lsid:itis.gov:itis_tsn:33216


  LSID
0
1
2
3
5

Try the check_scientificname_and_ids function - itis_usage:

In [2]:
# function can take a few minutes to process with 'itis_usage = True'
# uncomment following line to test the 'itis_usage' parameter
#check_scientificname_and_ids(occurrence_core, 'names', itis_usage= True).head()